@model List<Pizza>

     <nav class="navbar bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">La Mia Pizzeria</span>
        </div>
     </nav>

     <div class="container">
        <h1 class="title">Il nostro menu</h1>
     </div>

     <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Foto</th>
              <th scope="col">Descrizione</th>
              <th scope="col">Prezzo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            @foreach (Pizza pizza in Model)
            {

                     <tr>
                      <th>@pizza.nome</th>
                      <td><img src="@pizza.foto" class="img-thumbnail, image" alt="@pizza.nome"></td>
                      <td>@pizza.descrizione</td>
                      <td>@pizza.prezzo euro</td>
                      <td><a class="btn btn-primary" href="@Url.Action( "Dettagli", "Pizza", new { nome = pizza.nome } )" role="button">Dettagli</a></td>
                    </tr>
            }



          </tbody>
        </table>
     </div>
